/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-black {
  display: flex;
  height: 100vh;
  background-color: #fff;

}
.sidebar_profile {
  padding-inline: 10px !important;
}

@media (max-width: 575px) {
  .user_tabs .MuiTabs-list {
    /* flex-direction: column;
    align-items: center; */
  }
  .user_tabs .MuiTabs-list button {
    min-height: 50px;
    font-size: 14px;
  }
}
.Category_select .MuiSelect-select {
  white-space: unset !important;
}