body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.new_user .css-1mq3koj-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root {
  background-color: unset !important;
}

.loading-text h2 {
  transform: inherit !important;
}

.loading-text h3 {
  transform: inherit !important;
}

.loading-text h6 {
  transform: inherit !important;
}

.loading-text .progress-bar {
  transform: inherit !important;
  margin-bottom: 10px !important;
  margin: 0 auto;
}

.loading-text p {
  transform: inherit !important;
}

.login-card {
  background-image: url("./assets/bg-image.png");
  height: 100vh;
  overflow: hidden;
}

.login_box {
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
  padding: 20px 20px;
}

.login_image_box {
  height: 100vh;
}

.login_image_box img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
}


.MuiTable-root {
  min-width: unset !important
}


/* swiper slider */
.swiper-cards.signup_cards_swiper {
  padding: 50px;
}

.card_image,
.signup_card {
  border-radius: 10px;
  overflow: hidden;
}

.card_image {
  height: 100%;
}

.card_image img {
  height: 100%;
  object-fit: contain;
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .signup_card {
    height: 100%;
}
.card_content {
    height: 100%;
} */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 293px;
  width: 487px;
}

.signup_logo {
  width: 250px;
  margin: 0 auto;
}

.signup_logo img {
  width: 100%;
}

.signup_cards_swiper .swiper-button-next,
.signup_cards_swiper .swiper-button-prev {
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
  color: #000;
  box-shadow: 1px 0px 5px 0px #00000021;
}